body {
  font-family: "Roboto Slab", serif;
}

header {
  background: rgb(20, 134, 20);
  text-align: center;
}

.container {
  padding: 0.5em;
}

nav > a {
  color: black;
  text-decoration: none;
}

nav > a:not(:last-child) {
  margin-right: 1.5em;
}

#slideshow {
  background: url("https://media.cntraveler.com/photos/5b22bfdff04a775484b99dfc/master/pass/Alo-Restaurant__2018_Raffi-Photo-2.jpg");
  background-size: cover;
}

#slideshow > .container {
  padding-top: 3em;
  padding-bottom: 3em;
}

#slideshow h1,
#slideshow p {
  margin: 0;
}

#slideshow p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

button {
  background: black;
  border: 0;
  color: grey;
  padding: 0.5em 2em;
  cursor: pointer;
}

#menu h2 {
  text-align: center;
}

#menu h3 {
  margin: 0;
  border-bottom: 2px solid rgb(204, 204, 204);
  padding: 0.4rem;
}

#menu .product-group:not(:first-child) h3 {
  margin-top: 1.5rem;
}

.product-group {
  padding-left: 1rem;
  padding-right: 1rem;
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.product:not(:last-child) {
  border-bottom: 1px solid rgb(204, 204, 204);
}

.product > :nth-child(2) {
  flex: 2;
}

.product > :nth-child(3) {
  flex: 1;
}

.product > img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 100%;
}

.product > .text {
  padding-right: 1rem;
  padding-left: 1rem;
  text-transform: uppercase;
}

.product > .text > h4,
.product > .text > p {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.product > .price {
  color: rgb(163, 24, 24);
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .container {
    width: 75%;
    margin: 0 auto;
  }

  header {
    text-align: left;
  }

  nav > a:hover {
    text-decoration: underline;
  }

  #slideshow {
    min-height: 60vh;
    display: flex;
    align-items: center;
  }

  .content {
    display: flex;
  }

  .content > .product-group {
    flex: 1;
  }

  #menu .product-group:not(:first-child) h3 {
    margin-top: 0;
  }
}
